<div class="local-card content">
	<div>
		<div class="tltle">Mapeamentos</div>
		<div class="bordered">
			<!-- Filtro  -->
			<div class="filter" style="margin-top: 20px;">
				<div class="filter-label">Filtro</div>
				<div style="display:flex">	
					<div class="filter-name">
						<div>Nome</div>
						<input [(ngModel)]="tableName" type="text" size="20">
					</div>
					<div class="filter-associado">
						<div>Associada</div>
						<input [(ngModel)]="justAssociated" type="checkbox">
					</div>
					<button (click)="onFilter()">
						Filtrar
					</button>
				</div>
			</div>
			<div class="div-line-divider">
				<div class="line-divider"></div>
			</div>
			<div class="list-content" style="margin-right: 13px;">
				<div class="table-title" style="padding:0px;">Tabelas TaxONE</div>
				<div class="inner-content">
					<table cellspacing="0" class="width-100">
						<thead>
							<td class="table-header width-10">SAFX</td>
							<td class="table-header width-65">Nome</td>
							<td class="table-header width-20">Fonte Origem</td>
							<td class="table-header width-5"></td>
						</thead>
						<tbody>
							<tr *ngFor="let safTable of safTables" class="t-row">
								<td class="t-columns">{{safTable.name}}</td>
								<td class="t-columns">{{safTable.description | slice:0:50}}</td>
								<td class="t-columns">{{safTable.dsTableName ? safTable.dsTableName : 'Não Associado'}}</td>
								<td class="t-columns" style="padding: 1px">
									<button (click)="onEdit(safTable.id)" class="edit-button" >Editar</button>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="pagination-div">
						<div></div>
						<pagination [pagination]="pagination" [totalPages]="totalPages" (page)="onPage($event)"></pagination>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>