.filter {
    margin-left: 7px;
}

.filter-name {
    display: flex; 
    margin: 4px 0 0 10px;
    width: 27%;
}

.filter-name > div{
    font-size: 12px; 
    margin-right: 13px;
}

.filter-associado {
    display: flex; 
    margin: 5px 0 0 63px;
    width: 58%;
}

.filter-associado > div{
    font-size: 12px; 
    margin-right: 13px;
}

.div-botao-filter {
    direction: rtl; 
    margin-right: 28px;
}

.div-line-divider {
    margin-top:22px; 
    width:97%
}

.inner-content {
    margin: 5px 0 10px 0; 
    width:98%
}


.edit-button {
    padding: 1px 6px 1px 6px;
}