<div class="local-card content">
	<div>
		<div class="tltle">Mapeamento</div>
		<div class="bordered">
			<div class="main-content">
				<div class="width-45">
					<div class="safxtable-name">TaxOne ({{safxTableName}})</div>
					<div class="list-content width-100">
						<table cellspacing="0" class="width-100">
							<thead>
								<td class="table-header width-30" style="padding-left: 5px;">Nome Coluna</td>
								<td class="table-header width-15">Obrigatório</td>
								<td class="table-header width-10">Tamanho</td>
								<td class="table-header width-10">Tipo</td>
								<td class="table-header width-30"></td>
							</thead>
							<tbody>
								<tr *ngFor="let field of safxColumns" class="t-row">
									<td class="t-columns">{{field.name}}</td>
									<td class="t-columns">{{field.required ? '*' : ''}}</td>
									<td class="t-columns">{{field.size}}</td>
									<td class="t-columns">{{field.type}}</td>
									<td class="t-columns" style="padding: 1px">
										<div (drop)="drop($event, field)" (dragover)="allowDrop($event)" class="dscolumn-target">
											<div class="width-90">{{field.dsColumnName}}</div>
											<div *ngIf="field.dsColumnName" (click)="onRemoveAssociation(field);" class="dscolumn-button" >x</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="pagination-div">
							<div></div>
							<pagination [pagination]="safxPagination" [totalPages]="safxTotalPages" (page)="onPageSAFX($event)"></pagination>
						</div>
					</div>
				</div>
			
				<div class="dstable-main-content">
					<div>
						<div class="dstable-header">
							<div class="dstable-header-title">Campos Origem</div>
							<select (change)="onDSCnage($event)" [(ngModel)]="selectedTable" class="dstable-select">
								<option *ngFor="let dsTable of dsTables"value="{{dsTable.id}}">{{dsTable.name}}</option>
							</select>
						</div>
					</div>
					<div style="margin-bottom: 10px;">
						<table cellspacing="0" class="width-100">
							<thead>
								<td class="table-header width-28">Nome Coluna</td>
								<td class="table-header width-20">Tipo</td>
								<td class="table-header">Tamanho</td>
							</thead>
							<tbody>
								<tr *ngFor="let field of dsColumns; let i = index;" class="t-row">
									<td class="t-columns">
										<div id="dd_{{i}}" draggable="true" (dragstart)="drag($event, field)">{{field.name}}</div>
									</td>
									<td class="t-columns">{{field.columnType}}</td>
									<td class="t-columns">{{field.size}}</td>
								</tr>
							</tbody>
						</table>
						<div class="pagination-div">
							<div></div>
							<pagination [pagination]="dsPagination" [totalPages]="dsTotalPages" (page)="onPageDS($event)"></pagination>
						</div>
					</div>
				</div>
			</div>
			<div class="div-buttons">
				<button (click)="onSave()">Salvar</button>
				<button (click)="onBack()" style="margin-right:5px">Cancelar</button>
			</div>
		</div>
	</div>
</div>