.main-list-content {
    width: 45%; 
    margin: 20px 0 0 13px;
}

.sourceconfig-title {
    padding: 0px 8px 6px 0px;
}


.add-buton{
    margin-left: 33%; 
    padding: 1px 6px 1px 6px;
}

.datasource-type {
    margin-left: 10px; 
    min-width: 70px
}

.sourceconfig-list-content{
    margin: 5px 0 10px 0;
}


.edit-button {
    padding: 1px 6px 1px 6px;
}

.sourceconfig-pagination-div {
    display:flex; 
    margin-left: 10px; 
    margin-top:5px;
}