<div class="local-card content main-content" >
	<div>
		<div class="tltle">Login</div>
		<div class="bordered login-content" >
			<div class="login-inner-content">
				<div class="width-100">
					<div class="field-nome">
						<div class="field-nome-label">Usuário</div>
						<input [(ngModel)]="user.username" type="text" maxlength="25" size="25" style="height: 13px;">
					</div>
					<div class="field-password">
						<div  class="field-password-label">Senha</div>
						<input [(ngModel)]="user.password" type="password" maxlength="25" size="25" style="height: 13px;">
					</div>
					<div class="ok-button">
						<button style="width:96%" (click)="onLogin()">Login</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
		
