.modal-div {
    position: absolute; 
    left:0px; 
    top:0px; 
    width: 100%; 
    height:100%; 
    background-color: rgba(128, 128, 128, 0.2);    
}

.main-content {
    width: 28%; 
    margin: 10% 0 0 35%; 
    min-height: 180px;
    color: black;
    background-color: white;
}

.main-content > div{
    width: 98%
}

.modal-content {
    min-height: 104px;
    margin-left: 8px;
    margin-top: 9px;
}

.modal-inner-content {
    margin: 16px 0 0 13px; 
    display: flex
}

.message-title {
    color: rgb(0, 40, 104);
}

.message{
    color: rgb(0, 40, 104);
    min-height: 58px;    
}

.ok-button {
    margin-top: 27px;
    margin-left: 74%;
    margin-right: 5%;
    margin-bottom: 5%;
}