.inner-content {
    margin: 5px 0 10px 0; 
    width:97%;
}

.td-button{
    width: 10px; 
    padding: 1px;
}

.alert-button{
    padding: 1px 6px 1px 6px;
}

.div-save-button{
    direction: rtl; 
    margin: 20px 41px 15px 0px;
}