agm-map {
  height: 300px;
}

.main-logo {
    width: 194px;
    margin-top: -40px;
    margin-left: -18px;
}    

.menu-item {
    color:white; 
    margin-right: 5px;
}
    
.loading-div {
    position: absolute; 
    left:0px; 
    top:0px; 
    width: 100%; 
    height:100%; 
    background-color: blue; 
    opacity: 0.2;    
}
    
    
.top-logo{
    margin-top: 30px;
}    

.down-logo{
    margin-top: 10px;
}

.div-icon{
    width:18%;
}

.div-iten-name{
    color: white;
}


.recorte {
  width: 200px;       /* área visível */
  height: 130px;      /* área visível */
  background-image: url('/assets/img/logo_branco.png');
  background-size: 910px 607px; /* tamanho original da imagem */
  background-position: -250px -230px; /* move o recorte */
  background-repeat: no-repeat;
  overflow: hidden;
}

.recortada {
  clip-path: inset(20% 10% 20% 10%);
}