<div class="local-card content">
	<div>
		<div class="tltle">Agendamentos</div>
		<div class="bordered">
			<div class="main-content">
				<div style="width:97%">
					<div style="display:flex">
						<div class="table-title agendamento-title">Agendamentos</div>
						<button (click)="onAdd()" class="add-button">Adicionar</button>
					</div>
					<div class="schedule-list-content width-100">
						<table cellspacing="0" class="width-100">
							<thead>
								<td class="table-header table-header-nome">Nome</td>
								<td class="table-header">Usuário</td>
								<td class="table-header">Status</td>
								<td class="table-header width-5"></td>
								<td class="table-header width-5"></td>
							</thead>
							<tbody>
								@for (s of schedules; track s.id) {
								<tr>
									<td class="t-columns">{{s.name}}</td>
									<td class="t-columns">{{s.userName}}</td>
									@if (s.status == 'ACTIVE'){
										<td class="t-columns">Ativo</td>
									}@else {
										<td class="t-columns">Inativo</td>
									}
									<td class="t-columns">
										<button (click)="onEdit(s.id)" class="schedule-button">Editar</button>
									</td>
									<td class="t-columns" style="width: 10px;">
										<button (click)="onDelete(s.id)" class="schedule-button">Excluir</button>
									</td>
								</tr>
								}
							</tbody>
						</table>
						<div class="pagination-div">
							<div></div>
							<pagination [pagination]="pagination" [totalPages]="totalPages" (page)="onPage($event)">
							</pagination>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>