<div class="local-card content">
	<div>
		<div class="tltle">Monitoramento</div>
		<div class="bordered">
			<!-- Filtro  -->
			<div style="width:60%; margin-left: 7px;">
				<div class="filter-label">Detalhes</div>
				<div style="display:flex">	
					<div class="filter-name">
						<div>Nome</div>
						<div style="font-size: 13px">{{scheduleLog.scheduleName}}</div>
					</div>
					<div class="field-horario">
						<div>Horário</div>
						<div style="font-size: 13px">{{scheduleLog.executionDate | date:'yyyy/MM/dd HH:mm:ss'}}</div>
					</div>
					<div class="field-status">
						<div >Status</div>
						<div style="font-size: 13px">{{scheduleLog.status}}</div>
					</div>
				</div>
			</div>
			<div class="div-line-divider">
				<div class="line-divider"></div>
			</div>
			<div class="list-main-content">
				<div class="table-title">Erros TaxONE</div>
				<div class="detail-list-content" style="width:58%">
					<table cellspacing="0" style="width: 100%">
						<thead>
							<td class="table-header" style="width: 14%">N# Registro</td>
							<td class="table-header" style="width: 14%">Código Erro</td>
							<td class="table-header" style="width: 48%">Descrição Erro</td>
							<td class="table-header" style="width: 20%">Nome Campo</td>
							<td class="table-header" style="width: 11%">Chave</td>
						</thead>
						<tbody>
							<tr *ngFor="let taxOneError of taxOneErrors" class="t-row">
								<td class="t-columns">{{taxOneError.numeroReg}}</td>
								<td class="t-columns">{{taxOneError.codigoErro}}</td>
								<td class="t-columns">{{taxOneError.descricaoErro}}</td>
								<td class="t-columns">{{taxOneError.nomeCampo}}</td>
								<td class="t-columns">{{taxOneError.chaveRegistro}}</td>
							</tr>
						</tbody>
					</table>
					<div class="pagination-div">
						<div></div>
						<pagination [pagination]="pagination" [totalPages]="totalPages" (page)="onPage($event)"></pagination>
					</div>
				</div>
			</div>
			<div class="button-conteiner">
				<button (click)="onBack()" style="margin-right: 5px">Voltar</button> 
			</div>
		</div>
	</div>
</div>